*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}

#head1{
    text-align: center;
}

#logo{
    position: absolute; 
    height: 100px; 
    width: 175px; 
    bottom:650px;
}

.line{
    color:black absolute;
    bottom: 500px;
}

#navvy{
    position: absolute; 
    top: 100px;
}

#span1{position: absolute; 
    left: 400px; 
    top: 100px;
}

#span2{
    position: absolute; 
    bottom: 250px; 
    left: 500px;
}

.Print{
    position: absolute;
    height: 175px;
    width: 275px;
    top: 500px;
}

#Penguin{
    right: 1100px;
}

#Pen{
    position: absolute; 
    right: 1300px;
    top: 660px;
}

#Benchy{
    right: 800px;
}

#Boat{
    position: absolute; 
    right: 1000px;
    top: 660px;
}

#PictureFrame{
    right: 500px;
}

#Pic{
    position: absolute; 
    right: 650px;
    top: 660px;
}


#Axolotl{
    right: 200px;
}

#Ax{
    position: absolute;
    right: 400px;
    top: 660px;
}


footer{
    position: absolute;
    bottom: -100px; 
    right: 600px;
}

